<div class="row pt-3">
    <div class="col-12">
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="max-height: 200px;" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4>{{recipe.name}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownBasic1" data-bs-toggle="dropdown" aria-expanded="false">Manage Recipe</button>
            <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
                <a class="dropdown-item cur-pointer" (click)="onAddToShoppingList()">Add to Shopping List</a>
                <a class="dropdown-item" href="#">Edit Recipe</a>
                <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <p>{{recipe.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>